<a href="https://colab.research.google.com/github/leanhducprovn/natural-language-processing/blob/main/rotten-tomatoes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Phân loại tình cảm của các câu từ tập dữ liệu Rotten Tomatoes

## Import modules

In [5]:
import numpy as np
import pandas as pd

In [6]:
%matplotlib inline
import matplotlib.pyplot as plt

# package used to creat wordclouds
from wordcloud import WordCloud, STOPWORDS, ImageColorGenerator

In [7]:
# Scikit-learn is a free software machine learning library for the Python programming language.

# Some classes help us to deal with data
from sklearn.feature_extraction.text import TfidfVectorizer

# Some classes help us to implement ML methods and evaluate models
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score, GridSearchCV, train_test_split

In [8]:
# Keras is a high-level neural networks API

# Some classes help us to deal with data
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from keras.utils.np_utils import to_categorical

In [9]:
# Some classes help us to bulid neural networks
from keras.models import Sequential
from keras.layers import Embedding, LSTM
from keras.layers.core import Dense, Activation, Dropout
from keras.callbacks import EarlyStopping

## Loading data

In [12]:
# Loading the dataset
data_phrase = pd.read_csv('https://raw.githubusercontent.com/leanhducprovn/natural-language-processing/main/rotten-tomatoes.tsv', sep='\t', header='infer', index_col='PhraseId')

In [14]:
data_phrase.iloc[156031:156040,:]

,SentenceId,Phrase,Sentiment
PhraseId,,,
156032,8543,The movie 's downfall is to substitute plot fo...,1
156033,8543,The movie 's downfall,1
156034,8543,is to substitute plot for personality .,1
156035,8543,is to substitute plot for personality,1
156036,8543,to substitute plot for personality,2
156037,8543,substitute plot for personality,1
156038,8543,substitute plot,2
156039,8543,for personality,2
156040,8544,"The film is darkly atmospheric , with Herrmann...",2